<!DOCTYPE>
<html ng-app="app">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
    <title>Ryan Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="controller.js" type="text/javascript" charset="utf-8" async defer></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--[if lt IE 9]>
　　　　<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
　　<![endif]-->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
    <style type="text/css">
        /* Small devices (tablets, 768px and up) */
        @media (min-width: 768px) {  }

        /* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {  }

        /* Large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {  }

        </body>
    </style>
</head>

<body ng-controller="test1 as ctrl">
    <div class="container">
        <div class="jumbotron">
            <h1>
                Hello {{ctrl.name}}
            </h1>
            <button ng-click="ctrl.click()">
                Click
            </button>

        </div>
        <div class="jumbotron">
         <div ng-repeat="note in ctrl.notes1" ng-class="ctrl.getNodeClass(note.done)">
            {{note.$$hashKey}}
            <span ng-bind="note.id"></span>
            <span ng-bind="note.label"></span>
        </div>


        <div ng-repeat="note in ctrl.notes2 track by note.id" >
            {{note.$$hashKey}}
            <span ng-bind="note.id"></span>
            <span ng-bind="note.label"></span>
        </div>
        <button ng-click="ctrl.changeNode()">
            change node  Click
        </button>
    </div>
    <div class="jumbotron">
        <table>
            <tr ng-repeat-start="note in ctrl.testnode3">
                <td>
                    <h2 ng-bind="note.label"></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>
                        Author Ryan
                    </h5>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td>
                    {{note.done}}
                </td>
            </tr>

        </table>

    </div>
    <div class="jumbotron">
        <input type="text" ng-model="ctrl.username">
        <input type="password" ng-model="ctrl.password">
        <button ng-click="ctrl.clean3()">Clean</button>
        <button ng-click="ctrl.submit3()">submit</button>

    </div>

    <div class="jumbotron">

        <form ng-submit="ctrl.submit4()">
            <input type="text" ng-model="ctrl.test4.username">
            <input type="password" ng-model="ctrl.test4.password">
            <input type="submit" value="Submit">
        </form>

    </div>

    <div class="jumbotron">

        <form ng-submit="ctrl.submit41()" name="form41">
            <input name="uname" type="text" ng-model="ctrl.test41.username" required ng-minlength="5">
            <span ng-show="form41.uname.$error.required">Please enter this table</span>
            <span ng-show="form41.uname.$error.minlength">Please enter more than 5 letter</span>
            <input name="upass" type="password" ng-model="ctrl.test41.password" required ng-minlength="5">
            <span ng-show="form41.upass.$error.required">Please enter this table</span>
            <input type="submit" value="Submit" ng-disabled="form41.$invalid">
        </form>

    </div>

    <div class="jumbotron">
        4-2
        <form ng-submit="ctrl.submit42()" name="form42">
            <input name="uname" type="text" ng-model="ctrl.test42.username" required ng-minlength="5" class="username">
            <span ng-show="form42.uname.$error.required">Please enter this table</span>
            <span ng-show="form42.uname.$error.minlength">Please enter more than 5 letter</span>
            <input name="upass" type="password" ng-model="ctrl.test42.password" required ng-minlength="5">
            <span ng-show="form42.upass.$error.required">Please enter this table</span>
            <input type="submit" value="Submit" ng-disabled="form42.$invalid">
        </form>

    </div>

    <div class="jumbotron">
        4-3
        <form ng-submit="ctrl.submit43()" name="form43">
            <input name="uname" type="text" ng-model="ctrl.test43.username" required ng-minlength="5" class="username">
            <span ng-show="form43.uname.$error.required">
                Please enter this table
            </span>
            <span ng-show="form43.uname.$error.minlength">
                Please enter more than 5 letter
            </span>
            <input name="upass" type="password" ng-model="ctrl.test43.password" required ng-minlength="5">
            <span ng-show="form43.upass.$error.required">
                Please enter this table
            </span>

            <ng-form name="pro43">
            <input type="text" name="firstname"
            placeholder="first name" required
            ng-model="ctrl.test43.pro.firstname">
        </ng-form>
        <span ng-show="form43.pro43.$invalid">
            Please fill the profile
        </span>

        <input type="submit" value="Submit" ng-disabled="form43.$invalid">
    </form>

</div>
<div class="jumbotron">
    4-4
    <div ng-repeat="note in ctrl.sports">
        <label ng-bind="note.label">
        </label>
        <input type="checkbox" ng-model="note.selected" ng-true-value="'YES'" ng-false-value="'NO'">
        <input type="checkbox" ng-checked="note.selected==='YES'">
        <div>
            CURRENT select: {{note.selected}}
        </div>
    </div>
</div>
<div class="jumbotron">
    4-5
    <div ng-init="otherGender='other'">
        <input type="radio" name="gender" value="man" ng-model="user.gender">Man
        <input type="radio" name="gender" value="woman" ng-model="user.gender">Woman
        <input type="radio" name="gender" value="otherGender" ng-model="user.gender">{{otherGender}}
    </div>
</div>
<div class="jumbotron">
    4-6
    <div ng-init="location='tw'">
        <select ng-model="location">
            <option value="uk">UK</option>
            <option value="jp">JP</option>
            <option value="tw">TW</option>
        </select>

    </div>
</div>
<div class="jumbotron">
    4-7
    <div>
        <select ng-model="ctrl.selectCountryID" ng-options="c.id as c.label for c in ctrl.countries">
        </select>
        select country id {{ctrl.selectCountryID}}

    </div>
    <div>
        <select ng-model="ctrl.selectCountry" ng-options="c.label for c in ctrl.countries">
        </select>
        select country  {{ctrl.selectCountry}}
    </div>
</div>
<!-- <div class="jumbotron" ng-controller="ctrl as test5"> -->
<div class="jumbotron">
    5-1
    <button ng-click="ctrl.open51('A')">Open A</button>
    <button ng-click="ctrl.open51('B')">Open B</button>
    <div ng-switch on="ctrl.tab">
        <div ng-switch-when="first">
            <div ng-controller="test5 as subctrl">
                <!-- {{subctrl.test511}} -->
                               <div ng-repeat="note in subctrl.list">
                    <span>{{note.id}},{{note.label}}</span>
                </div>
                <button ng-click="subctrl.add()">ADD</button>
            </div>
        </div>
        <div ng-switch-when="second">
            <div ng-controller="test5 as subctrl">
                <div ng-repeat="note in subctrl.list">
                    <span>{{note.id}},{{note.label}}</span>
                </div>
                <button ng-click="subctrl.add()">ADD</button>

            </div>
        </div>
        <div ng-switch-default>
            default
        </div>
    </div>

</div>
<div class="jumbotron">
    5-2
    <div ng-controller="test52 as ctrl">
        <button ng-click="ctrl.test52()">Click</button>
    </div>


</div>

<div class="jumbotron">
    5-3
    <div ng-controller="test53 as ctrl">
        <button ng-click="ctrl.open53('A')">
            Open A
        </button>
        <button ng-click="ctrl.open53('B')">
            Open B
        </button>
        <div ng-switch on="ctrl.tab">
            <div ng-switch-when="first">
                PAGE:A
                <div ng-repeat="note in ctrl.list()">
                    <span>
                        {{note.label}}
                    </span>
                </div>
                <ng-form name="form53">
                    <input type="text" name="text53" ng-model="ctrl.txt53"  placeholder="Enter text" required>
                    <button ng-click="ctrl.click53()" ng-disabled="form53.text53.$invalid">
                        Click me
                    </button>
                </ng-form>
            </div>
            <div ng-switch-when="second">
                PAGE:B
                <div ng-repeat="note in ctrl.list()">
                    <span>
                        {{note.label}}
                    </span>
                </div>
                <ng-form name="form53">
                    <input type="text" name="text53" ng-model="ctrl.txt53"  placeholder="Enter text" required>
                    <button ng-click="ctrl.click53()" ng-disabled="form53.text53.$invalid">
                        Click me
                    </button>
                </ng-form>
            </div>
        </div>



    </div>


</div>



</div>


</body>
</html>
